%div#logo
  = (link_to (image_tag "cisarska/logo-all-pages.png"), root_path, :title => 'main_logo_link')
%div#flags_container
  #flags_box
    = flag_link('uk')
    = flag_link('ru')
    = flag_link('en')
    = flag_link('de')