= form.input :email, :label =>  t('activerecord.attributes.user.email'), :required => true
= form.input :password, :label =>  t('activerecord.attributes.user.password'), :required => true, :class => 'field'
= form.input :password_confirmation, :label =>  t('activerecord.attributes.user.password_confirmation'), :required => true, :class => 'field'
= form.input :first_name
= form.input :last_name