%ul#main_nav
  %li
    = link_to I18n.t('company_link'), company_path, :id => 'company_link'
    %ul#products_nav.inside_nav
      %li= link_to I18n.t('history_link'), history_path, :id => 'history_link'
      %li= link_to I18n.t('dynamic_link'), dynamic_path, :id => 'dynamic_link'
      %li= link_to I18n.t('awards_link'), awards_path, :id => 'awards_link'
      %li= link_to I18n.t('productions_ext_link'), productions_ext_path, :id => 'productions_ext_link'
      - if I18n.locale.to_s =~ /en/
        %li= link_to "Export", export_path, :id => 'export_link'
      - if I18n.locale.to_s =~ /en|de/
        %li= link_to 'Video', videos_path, :id => 'videos_ext_link'
  %li
    = link_to I18n.t('products_link'), products_path, :id => 'products_link'
    %ul#linia_nav.inside_nav
      %li= link_to I18n.t('linia_productions_new'), products_path, :id => 'linia_productions_link'
      - if I18n.locale.to_s =~ /uk/
        %li= link_to 'Акція', actions_path, :id => 'actions_link', :style => 'color: red;'
      %li= link_to I18n.t('frankoff'), frankoff_path, :id => 'frankoff_productions_link'
      %li= link_to I18n.t('legend'), legend_path, :id => 'legend_productions_link'
      %li= link_to I18n.t('cisarska'), 'http://cisarska.com.ua/', :id => 'cisarska_link'
      %li= link_to I18n.t('balzam'), "http://cisarska.com.ua/#{I18n.locale.to_s}/balzam", :id => 'balzam_link'
  %li
    = link_to I18n.t('quality_link'), quality_path, :id => 'quality_link'
    %ul#quality_nav.inside_nav
      %li= link_to I18n.t('naturality_path'), naturality_path, :id => 'naturality_link'    
  %li
    = link_to I18n.t('contact_link'), contact_details_path, :id => 'contact_link'
    %ul#contacts_nav.inside_nav
      %li= link_to I18n.t('contact_details_link'), contact_path, :id => 'contact_details_link'