- title 'Нагороди'

%h1 Нагороди

%p
  %strong
    Продукція підприємства належно оцінена експертами галузі, зокрема в національному рейтингу 
    "Кращий вітчизняний товар року", та в програмі "Національна конкурентоспроможність", 
    а також визнана однією з кращих на міжнародному дегустаційному конкурсі "United vodka".

%div#awards_list
  %div
    - (1...5).to_a.each do |n|
      = (link_to (image_tag "cisarska_#{I18n.locale}/diploma-#{n}-small.png"), "/images/cisarska_#{I18n.locale}/diploma-#{n}-big.png", :class => 'colorbox')
    - (5...9).to_a.each do |n|
      = (link_to (image_tag "cisarska_#{I18n.locale}/diploma-#{n}-small.png"), "/images/cisarska_#{I18n.locale}/diploma-#{n}-big.png", :class => 'colorbox')
  %div      
    = (link_to (image_tag "cisarska/diploma/diploma-uv-classic-ramka-small.png"), "/images/cisarska/diploma/diploma-uv-classic-ramka-big.png", :class => 'colorbox')
    = (link_to (image_tag "cisarska/diploma/diploma-uv-serbian-ramka-small.png"), "/images/cisarska/diploma/diploma-uv-serbian-ramka-big.png", :class => 'colorbox')
    = (link_to (image_tag "cisarska/diploma/diploma-uv-bucovivian-ramka-small.png"), "/images/cisarska/diploma/diploma-uv-bucovivian-ramka-big.png", :class => 'colorbox')
  %div
    - (1..3).to_a.each do |n|
      = (link_to (image_tag "cisarska_#{I18n.locale}/Award-#{n}-small.png"), "/images/cisarska_#{I18n.locale}/Award-#{n}-big.png", :class => 'colorbox')
  %div
    - (4..6).to_a.each do |n|
      = (link_to (image_tag "cisarska_#{I18n.locale}/Award-#{n}-small.png"), "/images/cisarska_#{I18n.locale}/Award-#{n}-big.png", :class => 'colorbox')

%ul
  %li
    Кращий Вітчизняний товар 2008 року – Цісарська Галицька Класична
  %li
    Кращий Вітчизняний товар 2008 року – Цісарська Буковинська Пшенична
  %li
    Кращий Вітчизняний товар 2008 року – Прикарпатський Бальзам
  %li
    Кращий Вітчизняний товар 2007 року - Цісарська Галицька Класична
  %li
    Виробник кращих вітчизняних товарів 2008 року – ЛГЗ СТК
  %li
    %div
      %strong Програма Національна Конкурентоспроможність 2007 р.
    Знак відповідності - "Знак бездоганності" Цісарська Галицька Класична
  %li
    %strong "Кращий продукт року 2007"
  %li
    %div
      %strong Міжнародна виставка-ярмарок "Агро-2008"  - ТМ "Цісарська"
    Краща експортноспроможна ТМ в експозиціях областей України

- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#awards_link').css('color', '#FEFCCB').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');
  