- title 'Награды'

%h1 Награды

%p
  %strong
    Продукция предприятия должным образом оцененная экспертами отрасли, 
    в частности в национальном рейтинге «Лучший отечественный товар года», и в программе «Национальная конкурентоспособность», 
    а также признана одной из лучших на международном дегустационном конкурсе «United vodka».

%div#awards_list
  %div
    - (1...5).to_a.each do |n|
      = (link_to (image_tag "frankivska_#{I18n.locale}/diploma-#{n}-small.png"), "/images/frankivska_#{I18n.locale}/diploma-#{n}-big.png", :class => 'colorbox')
    = (link_to (image_tag "/images/general/diploma-uv-ramka-small.png"), "/images/general/diploma-uv-ramka-big.png", :class => 'colorbox')
    - (5...9).to_a.each do |n|
      = (link_to (image_tag "frankivska_#{I18n.locale}/diploma-#{n}-small.png"), "/images/frankivska_#{I18n.locale}/diploma-#{n}-big.png", :class => 'colorbox')
  %div
    - (1..3).to_a.each do |n|
      = (link_to (image_tag "frankivska_#{I18n.locale}/Award-#{n}-small.png"), "/images/frankivska_#{I18n.locale}/Award-#{n}-big.png", :class => 'colorbox')
  %div
    - (4..6).to_a.each do |n|
      = (link_to (image_tag "frankivska_#{I18n.locale}/Award-#{n}-small.png"), "/images/frankivska_#{I18n.locale}/Award-#{n}-big.png", :class => 'colorbox')

%ul
  /
    %li
      Лучший Отечественный товар 2008 года – Цисарска Галицка Класична 
    %li
      Лучший Отечественный товар 2008 года – Цисарска Буковинска Пшенична 
    %li
      Лучший Отечественный товар 2008 года – Бальзам "Прикарпатский"
  %li
    Лучший Отечественный товар 2008 года – Франкивска Лагидна
  %li
    Лучший Отечественный товар 2007 года – Франкивска Люксова
  /
    %li
      Лучший Отечественный товар 2007 года – Цисарска Галицка Класична
  %li
    Лучший Отечественный товар 2007 года – Франкивска с Перцем
  %li
    Производитель лучших отечественных товаров 2008 года – ЛВЗ СТК
  %li
    %div
      %strong Программа Национальная Конкурентоспособность 2007 г.
    Знак соответствия -   «Знак безупречности» Цисарска Галицка Класична
  %li
    %div
      %strong Программа Национальная Конкурентоспособность 2007 г.
    Знак соответствия -   «Национальные традиции» - Франкивска Оригинальна 
  %li
    %strong "Лучший продукт года 2007"
  /
    %li
      %div
        %strong Международная выставка- ярмарка «Агро-2008»  -ТМ «Цесарская»
      Лучшая экспортноспособная  ТМ в экспозициях областей Украины


- content_for :on_ready do
  jQuery('#company_link').addClass('selected_menu');
  jQuery('#awards_link').css('color', 'black').css('font-weight', 'bold');
  jQuery('ul#products_nav').css('display', 'block');
  